* {
    box-sizing: border-box;
    color: white;
    background-color: darkcyan;
}

.home {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 750px;
    margin: auto;

}

h1 {
    text-align: center;
    font-size: 50px;
}

.albumHead {
    text-align: center;
    color: white;
    
}


.folders {
    background-color: rgba(150,150,150,.8);
    width:210px;
    height:270px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}


.coverPic {    
    position: relative;
    float: left;
    width:  200px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.albumList {
    list-style: none;

}

.listDivs {
    padding: 5px;
    color: white;
    font-size: 18px;
}

.container {
    display: flex;
}

.move {
    margin:auto;
}

.picList {    
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 750px;

}

.picDisplay {
    background-color: rgba(150,150,150,.9);
    width:210px;
    height:270px;
    margin: 10px;
    padding: 5px;
    color: white;
    
}

.singlePic {
    height: 500px;
}

.picContainer {
    display: flex;
    justify-content: space-between
}

.buttons {
    color: white;
    background-color: rgba(150,150,150,.9);
    position: relative;
    top: 250px;
}

.picTrap {
    width: 500px;
    height: 500px;
    overflow: hidden;
}